.my-work-main-block{
	min-height: 840px;
	background-color: #eff3f7;
	font-size: 0;
}
.my-work-main-block__title{
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	font-size: 27px;
	font-family: 'fira_sansbook';
	font-weight: 400;
	color: #3ba8c0;
	background-image: url('../img/index/short-line.jpg');
	background-repeat: no-repeat;
	background-position: 0px bottom;
}
.my-work{
	display: inline-block;
	vertical-align: top;
	width: 185px;
	margin-left: 30px;
	margin-bottom: 45px;
	
}
.my-work:nth-child(3n + 2){
	margin-left: 20px;
}

.my-work__wrapper-img{
	position: relative;
	width: 181px;
	height: 121px;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	border-radius: 7px;
	overflow: hidden;
	border: 2px solid #3ba8c0;
	cursor: pointer;
}
.my-work__img{
	width: 100%;
	height: 100%;
}
.my-work:hover  .my-work__hover{
	display: block;
}
.my-work__hover{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(64, 145, 186, 0.75);
	transition: display 5s;
}
@keyframes my-work__hover--anim{
	0% { transform: rotate(0deg)  }
	50% { transform: rotate(180deg)  }
	100% { transform: rotate(360deg)  }
}
.my-work__hover-text{
	width: 120px;
	margin: 0 auto;
	margin-top: 55px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 13px;
	font-family: 'fira_sansbook';
	color: #ffffff;
	text-align: center;
	border: 2px solid #ffffff;
	border-radius: 7px;

	animation: my-work__hover--anim 1s;
}

.my-work__link{
	display: block;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	font-size: 13px;
	font-family: 'fira_sansbook_italic';
	color: #3ba8c0;
	text-align: center;
	text-decoration: none;
}
.my-work__description{
	width: 180px;
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: 'fira_sanslight';
	font-weight: 500;
	line-height: 1.2;
	color: #4a545d;
	text-align: center;
}

.add-project{
	display: inline-block;
	vertical-align: top;
	width: 180px;
	height: 130px;
	margin-left: 30px;
	padding: 0;
	overflow: hidden;
	background-color: #edf8fc;
	background-image: url('../img/my-work/add-project-img.png');
	background-repeat: no-repeat;
	background-position: center 35px;
	border: 1px dashed #4a545d;;
	border-radius: 4px;
	text-decoration: none;
	cursor: pointer;
}

.add-project__text{
	margin: 0;
	margin-top: 80px;
	padding: 0;
	font-size: 13px;
	font-family: 'fira_sanslight';
	color: #3ba8c0;
	text-align: center;
}


/* Модальное окно */
.modal-add-project{
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/my-work/modal-bg-pattern.png');
}
.modal-add-project__form{
	position: fixed;
	z-index: 1000;
	top: 50%;
	left: 50%;
	width: 365px;
	height: 495px;
	margin-left: -182.5px;
	margin-top: -247.5px;
	font-size: 0;
	background-color: #eff3f7;
	box-shadow: 0px 6px 12.48px 0.52px rgba(13, 16, 7, 0.35);
	border-radius: 10px;
	overflow: hidden;
}
.modal-add-project__wrapper-titel{
	margin-bottom: 10px;
	background-color: #48cbe8;
	border-bottom: 10px solid #67dffa;
}
.modal-add-project__form-titel{
	float: left;
	margin: 0;
	padding: 0;
	padding-left: 12px;
	padding-top: 6px;
	font-size: 25px;
	font-family: 'fira_sansregular';
	font-weight: 500;
	color: #ffffff;

}
.modal-add-project__form-close{
	float: right;
	width: 25px;
	height: 25px;
	margin-right: 12px;
	margin-top: 12px;
	color: #ffffff;
	text-indent: -99999px;
	background-color: #48cbe8;
	background-image: url('../img/my-work/modal-close.png');
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;

}

.modal-add-project__input-title {
	margin: 0;
	margin-left: 20px;
	margin-bottom: 2px;
	padding: 0;
	font-size: 17px;
	color: #959aa8;
	font-family: 'fira_sansbook';
}
.modal-add-project__input {
	width: 306px;
	margin: 0;
	margin-left: 20px;
	margin-bottom: 2px;
	padding: 9px 6px;
	font-family: 'fira_sanslight';
	font-size: 13px;
	color: #48cbe8;
	background-color: #fbfcfd;
	border: 1px solid #48cbe8;
	border-radius: 4px;
	outline: none;
}
.modal-add-project__input:focus {
	background-color: #ffffff;
}
.modal-add-project__input--upload {
	display: inline-block;
	vertical-align: top;
	width: 253px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}
.modal-add-project__upload-icon {
	display: inline-block;
	vertical-align: top;
	width: 51px;
	height: 41px;
	background-color: #41b9d4;
	background-image: url('../img/my-work/upload-icon.png');
	background-repeat: no-repeat;
	background-position: center;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	cursor: pointer;
}
.modal-add-project__upload-icon:hover {
	background-color: #51daf8;
}

#upload{
	display: none;
}
.modal-add-project__input--discription{
	height: 90px;
	margin-bottom: 15px;
	resize: none;
}
.modal-add-project__btn-submit{
	display: block;
	margin: 0px auto;
	padding: 0;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 3px;
	color: #ffffff;
	font-size: 19px;
	font-family: 'fira_sansbook';
	background-color: #48cbe8;
	border: none;
	border-bottom: 4px solid #3ba8c0;
	border-radius: 7px;
	outline: none;
	cursor: pointer;
}
.modal-add-project__btn-submit:hover{
	border: none;
}
.modal-add-project__btn-submit:active{
	border-top: 4px solid #3ba8c0;
}

/* Модальное окно --- КОНЕЦ*/




