html
	include ../common/head.jade
	body
		h1 Hello world
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel aspernatur esse facere aperiam nobis debitis quibusdam fuga iste unde, necessitatibus itaque possimus excepturi delectus sit dolorem, provident, veniam fugit id?
		h2 Ruslan